{{#partial "content"}}
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">

        <title>Hero Squad</title>
    </head>
    <header>
        <hr class="nav-hr" style="padding-top:0px;">
        <nav class="navbar justify-content-center bg-dark">
            <ul class="nav">
                <a class="nav-item nav-link" href="/"><li>Home</li></a>
                <a class="nav-item nav-link" href="/hero"><li>Hero</li></a>
                <a class="nav-item nav-link" href="/squad"><li>Squad</li></a>
            </ul>
        </nav>
    </header>
    <div class="squad">
        <div class="userclass">
            <div class="col-md-6">
            <div id="newMember">
                <h2>Choose Your Squad Members</h2>
            {{#each heroes}}
                 <div class="hero-item">
                  <div class="hero-detail">
                    <p>Name: {{name}}</p>
                    <p>Super power: {{ power }}</p>
                    <a class="btns" href="/squad/new/{{id}}">Add To Squad</a>
                  </div>
                </div>
            {{/each}}
            </div>

                <a class="btns" href="/squad-form">Create Your Squad</a>
                <br><br>
        {{#if squads}}

            <div class="jumbotron text-center">
                <h3> SQUADS</h3>
            </div>
           <div class="squad-container">
               <div class="card-text">

        {{#each squads}}
            <div class="squad-cont">
                <img src="" alt="">
                <div>
                  <h1>{{ squadName }} </h1>
                    <p>Id: {{squadId}}</p>
                    <p>Purpose: {{cause}}</p>
                    <p>Max participants: {{ size }}</p>
                    <br><br>

                </div>
            </div>

        </div>
            </div>
        {{/each}}
        {{else}}
            <h2></h2>
        {{/if}}
        </div>
    </div>
    </div>
    </section>
{{/partial}}
{{> layout.hbs}}